@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

::-webkit-scrollbar {
    width: 7px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #3d3a3a;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #E6E6E6;
    color: #000;
    font-family: 'roboto';
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    list-style-type: none;
    line-height: 1.3;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 95vw;
    margin: 0 auto;
    padding-top: 25px;
}

.location-div {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.location {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.name {
    font-size: 146px;
    font-weight: 400;
    padding-bottom: 40px;
}

header {
    max-width: 95vw;
    margin: 0 auto;
    padding-top: 30px;
}

.intro {
    display: flex;
    justify-content: space-between;
}

.intro-i {
    width: 25%;
}

.intro-ii {
    width: 34%;
    display: flex;
    flex-direction: column;
    gap: 65px;
}

.intro-iii {
    display: flex;
    flex-direction: column;
}

.fav-btn {
    margin: auto;
    padding: 10px 35px;
    border-radius: 50px;
}

.intro-svg {
    margin: auto;
}

.intro-iii-para {
    display: flex;
    align-items: center;
    gap: 10px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 95vw;
    margin: 0 auto;
    padding-top: 25px;
    gap: 50px;
    padding-bottom: 200px;
}

.mountain-para {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.line {
    height: 1px;
    background: #818080;
    width: 100%;
}

.about-div {
    display: flex;
    justify-content: space-between;
}

.about {
    display: flex;
    gap: 10px;
}

.about-i {
    display: flex;
    width: 69%;
    flex-direction: column;
    gap: 30px;
}

footer {
    display: flex;
    justify-content: space-between;
    max-width: 95vw;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

.social-links {
    display: flex;
    gap: 20px;
}

li {
    cursor: pointer;
}

a {
    text-decoration: none;
}
.mountain-i {
    display: none;
}

@media (max-width: 1140px) {
    .name {
        font-size: 100px;
    }
}

@media (max-width: 810px) {
    .name {
        font-size: 85px;
    }
}

@media (max-width: 600px) {
    *{
        font-size: 15px;
    }
    .name {
        font-size: 54px;
        padding-bottom: 60px;
    }
    .intro {
        flex-direction: column;
        gap: 25px;
    }
    .intro-i {
        width: 96%;
    }
    .intro-ii {
        width: 98%;
        gap: 35px;
    }
    .intro-iii {
        position: relative;
        left: 84px;
    }
    .mountain {
        display: none;
    }
    .mountain-i {
        display: flex;
        width: 100%;
    }
    .mountain-para {
        flex-direction: column;
        gap: 13px;
    }
    .about-div {
        flex-direction: column;
        gap: 25px;
    }
    .about-i {
        width: 100%;
    }
    section {
        padding-bottom: 50px;
    }
    footer {
        flex-direction: column;
        gap: 20px;
    }
    nav {
        padding-bottom: 30px;
    }
}
